/*页头开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background: #fff;
}
body{
    background: #fff;
    padding-bottom: 0;

}


/*必应开始*/
.biying{
    margin-top: 1.11rem;
}
.biying li{
    padding: 0.225rem;
    padding-bottom: 0;
}
.biying li .ying{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.25rem;
    overflow: hidden;

    
}
.biying li .left{
    float: left;
}
.biying li .left img{
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 0.3rem;
}
.biying li .all {
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.biying li .left .ming{
    float: left;
    padding-top: 0.1rem;
}
.biying li .left h3{
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.4rem;

}
.biying li .left p{
    font-size: 0.2rem;
}

.biying li .contant{
    overflow: hidden;
    line-height: 0.75rem;
}
.biying li .contant span{
    float: left;
    color: #555;
    font-size: 0.3rem;
}
.biying li .contant p{
    float: right;
    font-size: 0.3rem;
    color: #222;
}
.biying li .contant b{
    float: right;
    font-size: 0.3rem;
    color: #ed2d08;
}

.biying li  .lianjie{
    float: right;
    /*margin-top:-0.55rem;*/
}
.biying li  a{
    font-size: 0.3rem;
    padding: 0 0.2rem;
    height: 0.6rem;
    display: inline-block;
    background: #9ec317;
    border-radius: 0.15rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
}
/*必应结束*/



/*评论开始*/
.pinglun{

}
.pinglun .liuyan{
    overflow: hidden;
    padding: 0.225rem;

}

.pinglun .liuyan h3{
    float: left;
    font-size: 0.35rem;
    font-weight: normal;
    color: #808080;
    line-height: 0.6rem;

}
.pinglun .liuyan .lun{
    float: right;
    font-size: 0.3rem;
    width: 1.5rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    border: 1px solid #9ec317;
    color: #9ec317;
    text-align: center;
    line-height: 0.6rem;
}
.pinglun .inpinglun  li{
    padding: 0.225rem;
}




.inpinglun li .talk{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 0.25rem;
}
.inpinglun li .left{
    float: left;
}
.inpinglun li .left img{
    width: 0.75rem;
    height: 0.75rem;
    float: left;
    margin-right: 0.3rem;
}
.inpinglun li .all {
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.inpinglun li .left .ming{
    float: left;
}
.inpinglun li .left h3{
    font-size: 0.2rem;
    font-weight: normal;
    line-height: 0.35rem;

}
.inpinglun li .left p{
    font-size: 0.2rem;
}
.inpinglun li p.lianxi{
    font-size: 0.3rem;
    margin-top: 0.4rem;
}
.inpinglun li p.laiyuan{
    font-size: 0.2rem;
    margin-top: 0.55rem;
}
/*评论结束*/



