/*城市选择开始*/
.chengshi{
    margin-top: 1.12rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    padding-top: 0.3rem;
}
.chengshi p{
    color: #808080;
    font-size: 0.3rem;

}
.chengshi ul{
    overflow: hidden;
}
.chengshi li{
    font-size: 0.35rem;
    width: 2.225rem;
    height: 0.85rem;
    border: 1px solid #e2e2e2;
    float: left;
    margin-right: 0.3rem;
    text-align: center;
    line-height: 0.85rem;
    margin-top: 0.3rem;
    background: #fff;
}
.chengshi li.zai{
    color: #9ec317;
    border:1px solid #9ec317;
}
/*城市选择结束*/