/*顶部开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background: #fff;
}

/* 本例子css -------------------------------------- */
.focus {

    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 1.1rem;
}
.focus .hd {


   position: absolute;
    z-index: 1;
    bottom: 0.4rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.focus .hd ul {
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;

}
.focus .hd ul li {
        width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.085rem;
    border-radius: 50%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-indent: -9999px;
    background-color:#a9a9a9;
}
.focus .hd ul .on {
    background: #fff;
}
.focus .bd {
    position: relative;
    z-index: 0;
}
.focus .bd li img {
    width: 100%;
}
.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
    width: 100%;
    height: 100%;
    display: inline-block;
}
/* 插件结束 */


/*详情资料开始*/
.ziliao{
    padding:0 0.3rem;
    padding-right: 0.1rem;
    width: 7.6rem;
    background: #fff;
}
.ziliao h3{
    font-size: 0.35rem;
    font-weight: normal;
    line-height: 1rem;

}
.ziliao p{
    font-size: 0.3rem;
    color: #666;
}
.ziliao .jia{
    overflow: hidden;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
}
.ziliao .jia a{
    height: 0.65rem;
    width: 2rem;
    display: inline-block;
    border-radius: 0.15rem;
    background: #9ec317;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.65rem;
    float: right;
}
.ziliao .xiaoliang{
    overflow: hidden;
    margin-top: 0.325rem;
    height: 0.65rem;
    line-height: 0.65rem;
    border-bottom: 1px solid #e6e6e6;
}
.ziliao .xiaoliang li{
     width: 33.3333%;
    float: left;
    font-size: 0.3rem;
}
.ziliao .pingjia{
    overflow: hidden;
}
.ziliao .pingjia li{
    float: left;
    font-size: 0.3rem;
    text-align: center;
     width: 33%;
     margin:0.3rem 0;
}
.ziliao .pingjia li p{
    margin-top: 0.3rem;
    color: #262626;
}
.ziliao .pingjia li img{
    width: 2.225rem;
    height: 0.375rem;
    display: block;
    margin:0 auto;
}
/*详情资料结束*/


/*服务开始*/
.fuwu{
    margin-top: 0.125rem;
    /*background: #fff;*/
    width: 8rem;
}
.fuwu .fuwuone{
    overflow: hidden;
    background: #eeeeee;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    height: 0.625rem;
    
}
.fuwu .fuwuone li{
    float: left;
    width: 25%;
    font-size: 0.3rem;
    text-align: center;
    height: 0.625rem;
    line-height: 0.635rem;
    border-bottom:1px solid  #e6e6e6;
    color: #9c9c9c;
}
.fuwu .fuwuone li.cu{
    color: #9ec317;
    background: #fff;
}
.fuwu .fuwutwo{
}

.fuwu .fuwutwo .pinglun{
    display: none;
}
.fuwu .fuwutwo .lists{
    height: 0.75rem;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 0.25rem;
    background: #fff;
}
.fuwu .fuwutwo .lists div.current{
    color: #9ec317;
    border-bottom: 2px solid #9ec317;
}
.fuwu .fuwutwo .lists div{
    float: left;width: 33.3333%;
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.6rem;
}
.fuwu .fuwutwo .lists i{
    font-size: 0.2rem;
}






.fuwu .fuwutwo li{
    display: none;
 


}
.fuwu .fuwutwo li p.fu{
    font-size: 0.3rem;
    color: #9c9c9c;
    padding: 0.6rem 0;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    line-height: 0.625rem;
    background: #fff;
}


.fuwu .fuwutwo li .all{
    height: 3rem;
    background: #fff; 
    margin-bottom: 0.25rem; 
    padding-left: 0.3rem;
    padding-right: 0.2rem;
}
.fuwu .fuwutwo li .all .top{
    padding-top: 0.4rem;
    overflow: hidden;
}
.fuwu .fuwutwo li .all .top img{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    float: left;
    margin-right: 0.2rem;
}
.fuwu .fuwutwo li .all .top .yonghu{
    float: left;
    height: 0.4rem;

}
.fuwu .fuwutwo li .all .top h3{
    font-size: 0.3rem;
    font-weight: normal;
}
.fuwu .fuwutwo li .all .top p.shi{
    font-size: 0.2rem;
    font-weight: normal;
    line-height: 0.35rem;
}
.fuwu .fuwutwo li .all i{
    width: 1.325rem;
    height: 0.225rem;
    display: inline-block;
    background: url(../images/icon/ping.png)no-repeat 0 0;
    background-size: cover;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}
.fuwu .fuwutwo li .all .tiao{
    font-size: 0.3rem;
    margin-top: 0.25rem;
    color: #000;
    margin-left: 0.3rem;
}
.fuwu .fuwutwo li .all .xunzhang{
    font-size: 0.2rem;
    color: #262626;
    margin-left: 0.3rem;
    margin-top: 0.4rem;

}
/*服务结束*/


/*店铺介绍开始*/
.fuwutwo .jieshao{
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #e6e6e6;
}
.fuwutwo .jieshao h4{
    font-size: 0.3rem;
    font-weight: normal;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.fuwutwo .jieshao p{
    font-size: 0.3rem;
    color: #808080;
}


.fuwutwo .jieshao h5{
    font-size: 0.3rem;
    font-weight: normal;
    margin-top: 0.4rem;
}
/*店铺介绍结束*/


/*卖家推荐开始*/
.tuijian{
    background: #fff;
}

.tuijian .tui{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    height: 3.175rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
}
.tuijian .left{
    float: left;
    width: 3.9rem;
    height: 3.175rem;
}
.tuijian .left img{
    float: left;
    width: 3.9rem;
    height: 3.175rem;
}
.tuijian .right{
    float: right;
    width: 3.8rem;
    padding-left: 0.3rem;
    position: relative;
    height: 3.175rem;

}
.tuijian .right h4{
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.75rem;
}
.tuijian .right p{
    font-size: 0.2rem;
}
.tuijian .right .jia{
    font-size: 0.2rem;
    /*line-height:1rem;*/

}
.tuijian .right .jia b{
    color: #ed2d08;
    font-size: 0.3rem
}
.tuijian .right  .chengjiao{
    position: absolute;
    bottom:0.1rem;
    left:0.3rem;
    margin-top: 0.5rem;
    height: 0.55rem;


}
.tuijian .right  .chengjiao .cheng{
    font-size: 0.2rem;
    float: left;
    margin-top: 0.2rem;
}
.tuijian .right .chengjiao .jiao{
    width: 1.875rem;
    height: 0.55rem;
    background: #26a96d;
    color: #fff;
    font-size: 0.3rem;
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.55rem;
    position: absolute;
    bottom:0;
    right: -2.2rem;
}
/*卖家推荐结束*/


/*底部开始*/
.foot{
    height: 0.6rem;
    background: #fff;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 8rem;
    border-top: 1px solid #d8d8d8;
    padding: 0.2rem 0;
}

.foot .guanzhu{
    width: 2.35rem;
    float: left;
    font-size: 0.4rem;
   
    border-right: 1px solid #ccc;
    padding-left: 1.5rem;
    line-height: 0.6rem;
    position: relative;

}

     .foot .guanzhu i .heart {
        background: url(../images/web_heart_animation.png);
        background-position: left;
        background-repeat: no-repeat;
        height: 1.45rem;
        width:2.75em;
        cursor: pointer;
        position: absolute;
        left:0.28rem;
        top:-0.4rem;
    background-size: cover;

    }


     .foot .guanzhu i .hearts {
        background: url(../images/web_heart_animation.png) 0 0;
        background-position: right;
        background-repeat: no-repeat;
        /*height: 1.75rem;*/
        width:3.75em;
        cursor: pointer;
        position: absolute;
        left:0.25rem;
        top:-0.4rem;
    background-size: cover;

    }

    @-webkit-keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
    }

    @keyframes heartBlast {
        0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
    }

    .heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }
    p{margin: 0px; padding: 0px;}
    
    .foot .goumai{
    width:4rem;
    height: 0.85rem;
    font-size: 0.4rem;
    float: right;
    text-align: center;
    line-height: 0.6rem;
    color: #000;
    position: relative;
}
   .foot .goumai .lianxi{
    width: 0.45rem;
    height: 0.45rem;
    background: url(../images/icon/lianxi.png)no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top:0.1rem;
    left:0.5rem;
   }










.fuwu .fuwutwo img{
    width: 3.8rem;
    height: 3.175rem;
}
.paimai .mai{
    position: relative;
}
.fuwu .fuwutwo li{
    position: relative;
    top:0;
    left:0;
    display: none;
}
.fuwu .fuwutwo .lefts{
    width: 3.8rem;
    height: 3.175rem;
    float: left;
    position: relative;
}
.fuwu .fuwutwo .lefts .start{
    width: 1.675rem;
    height: 0.425rem;
    line-height:0.425rem; 
    background: #5bacf3;
    position: absolute;
    top:2.5rem;
    left: 0;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    border-radius: 0 0.07rem 0.07rem 0;
}
.fuwu .fuwutwo .chanpin{
    display: none;
}
.fuwu .fuwutwo .chanpin .alls{
    margin-bottom: 0.075rem;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    margin-bottom: 0.25rem;
    background: #fff;
}
/*.fuwu .fuwutwo .chanpin .start{
    background: #9EC317;
}*/
.fuwu .fuwutwo .chanpin .right{
    float: right;
    width: 4rem;
    padding: 0.1rem;
    height:2.975rem;

}
.fuwu .fuwutwo .chanpin .right h3{
    font-size: 0.325rem;
    font-weight: normal;
    color: #565656;
    height: 0.8rem;
    overflow: hidden;
}
.fuwu .fuwutwo .chanpin .right .dangqian{
    font-size: 0.315rem;
    line-height: 0.95rem;
    color: #6f6f6f;

}
.fuwu .fuwutwo .chanpin .right .dangqian strong{
    color: #ed2d08;
    font-weight: 600;
    font-size: 0.375rem;
}
.fuwu .fuwutwo .chanpin .right .jieshu{
    font-size: 0.315rem;
    color: #6f6f6f;
    margin-bottom: 0.3rem;
    overflow: hidden;
    height: 0.425rem;

}
.fuwu .fuwutwo .chanpin .right .jieshu strong{
    color: #000;
    font-weight: 600;
    font-size: 0.325rem;
}
.fuwu .fuwutwo .chanpin .right .renshu{
    font-size: 0.2rem;
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 0.575rem;
    line-height: 0.575rem;


}
.fuwu .fuwutwo .chanpin .right .renshu div{
    float: left;
    margin-right: 0.5rem;
    height: 0.575rem;
    line-height: 0.575rem;
}
.fuwu .fuwutwo .chanpin .right .renshu div i{
    font-weight: 600;
}