html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
body{
    padding-bottom: 1.25rem;

}
/*页头开始*/
.head{
    width: 8rem;
    height: 1.1rem;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
div.head .left{
    float: left;
    height: 0.5rem;
    width: 1rem;
    margin-top: 0.3rem;
    margin-left: 0.28rem;
    position: relative;
    padding-left: 0.5rem;
    line-height: 0.5rem;
    margin-right: 0.2rem;
    color: #fff;
    font-size: 0.3rem;
}
div.head .left i{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: url(../images/icon/dizhi.png)no-repeat 0 0;
    position: absolute;
    top:0;
    left: 0;
    background-size:cover;
}
div.head .text{
    float: left;
    margin-top: 0.22rem;
    width: 4.5rem;
    height: 0.6rem;
    border: 1px solid #Ccc;
    padding-left: 0.1rem;
    font-size: 0.3rem;
    line-height: 0.6rem;
    border-radius: 0.125rem;
    background: rgba(0,0,0,0.5);
    border: 0;
    color: #666;
}
div.head .kefu{
    float: right;
    margin-right: 0.2rem;
    height: 1.1rem;
    position: relative;
    width: 0.5rem;

}
div.head .kefu .inkefu{
    width: 0.55rem;
    height: 0.55rem;
    display: inline-block;
    background: url(../images/icon/kefu.png)no-repeat 0 0rem;
    background-size:cover;
    position: absolute;
    top:0.3rem;
    left:0;
}
.hasFixed{position: fixed; left: 50%; top: 0rem; transform: translateX(-50%)}


/*页头结束*/



/* 本例子css -------------------------------------- */
.focus {

    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.focus .hd {


   position: absolute;
    z-index: 1;
    bottom: 0.4rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.focus .hd ul {
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;

}
.focus .hd ul li {
        width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.085rem;
    border-radius: 50%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-indent: -9999px;
    background-color:#a9a9a9;
}
.focus .hd ul .on {
    background: #fff;
}
.focus .bd {
    position: relative;
    z-index: 0;
}
.focus .bd li img {
    width: 100%;
}
.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
    width: 100%;
    height: 100%;
    display: inline-block;
}
/* 插件结束 */



/*icon开始*/
.icon{
    overflow: hidden;
}
.icon li{
    list-style: none;
    float: left;
    width: 25%;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.8rem;
    padding: 0.1rem 0;
}
.icon li a{
    color: #262626;
}
.icon li img{
    width: 1.25rem;
    height: 1.25rem;
    margin:0 auto;
    display: block;
}
/*icon结束*/


/*分类开始*/
.fenlei{
    padding: 0.125rem 0;
    background: #f2f2f2;
    overflow: hidden;
}
.fenlei ul{
    background: #fff;
    overflow: hidden;
}
.fenlei li{
    width: 24%;
    float: left;
    height: 2.4rem;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-left: 2px;
}
.fenlei li h3{
    font-size: 0.325rem;
    color: #262626;
    font-weight: normal;
    margin-left: 5px;
}
.fenlei li p{
    font-size: 0.2rem;
    color: #454545;
    line-height: 0.5rem;
    margin-left: 5px;
}
.fenlei li img{
    width: 1.775rem;
    height: 1.175rem;
    margin-left: 1px;
}
.fenlei li .lei{
    height:0.9rem;
    margin-top: 0.1rem;
    overflow: hidden;
}
/*分类结束*/


/*拍卖开始*/
.paimai{

}
.paimai .pai{
    height: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
}

.paimai .pai li{
    float: left;
    width: 30.3333%;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.8rem;
    position: relative;
    padding-left: 0.2rem;
    color: #c5c5c5;

}
.paimai .pai li.cur{
    color: #9ec318;
}

.paimai .pai li i{
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    background: red;
    position: absolute;
    top:0.25rem;
    left:.3rem;
}
.paimai .pai li i.one{
    background: url(../images/icon/j1.png)no-repeat 0 0;
    background-size:cover;   
}
.paimai .pai li i.two{
    background: url(../images/icon/j22.png)no-repeat 0 0;
    background-size:cover;   
}
.paimai .pai li i.three{
    background: url(../images/icon/temai.png)no-repeat 0 0;
    background-size:cover;   
}
.paimai .mai img{
    width: 3.8rem;
    height: 3.175rem;
}
.paimai .mai{
    position: relative;
}
.paimai .mai li{
    position: relative;
    top:0;
    left:0;
    display: none;
    background: #f2f2f2;
}
.paimai .mai .left{
    width: 3.8rem;
    height: 3.175rem;
    float: left;
    position: relative;
}
.paimai .mai .left .start{
    width: 1.675rem;
    height: 0.425rem;
    line-height:0.425rem; 
    background: #5bacf3;
    position: absolute;
    top:2.5rem;
    left: 0;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    border-radius: 0 0.07rem 0.07rem 0;
}
.paimai .mai .all{
    margin-bottom: 0.075rem;
    overflow: hidden;
    border-bottom: 1px solid #f9f9f9;
    background: #fff;
}
.paimai .mai .jijiang .start{
    background: #9EC317;
}
.paimai .mai .right{
    float: right;
    width: 4rem;
    padding: 0.1rem;
    height:2.975rem;

}
.paimai .mai .right h3{
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.45rem;
    color: #565656;
    height: 0.9rem;
    overflow: hidden;
}
.paimai .mai .right .dangqian{
    font-size: 0.315rem;
    line-height: 0.95rem;
    color: #6f6f6f;

}
.paimai .mai .right .dangqian strong{
    color: #ed2d08;
    font-weight: 600;
    font-size: 0.375rem;
}
.paimai .mai .right .jieshu{
    font-size: 0.315rem;
    color: #6f6f6f;
    margin-bottom: 0.3rem;
    overflow: hidden;
    height: 0.425rem;

}
.paimai .mai .right .jieshu strong{
    color: #000;
    font-weight: 600;
    font-size: 0.325rem;
}
.paimai .mai .right .renshu{
    font-size: 0.2rem;
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 0.575rem;
    line-height: 0.575rem;


}
.paimai .mai .right .renshu div{
    float: left;
    margin-right: 0.5rem;
    height: 0.575rem;
    line-height: 0.575rem;
}
.paimai .mai .right .renshu div i{
    font-weight: 600;
}
/*拍卖结束*/




/*拍卖开始*/
.footer{
    height: 1.1rem;
    font-size: 0.3rem;
    text-align: center;
    border-top: 1px solid #Ccc;
    position: fixed;
    left:50%;
    bottom: 0;
    z-index: 10;
    width: 8rem;
    background: #fff;
    transform: translateX(-50%);
}
.footer li{
    width: 25%;
    float: left;
    line-height: 0.4rem;
}
.footer i{
    display: block;
    margin-top: 0.1rem;
}
.footer img{
    width: 0.65rem;
    height: 0.55rem;
    display: block;
    margin:0 auto
}
.footer li.current a{
    color: #9ec318;
}
/*拍卖结束*/


/*联系开始*/
.lianxi{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    display: none;
}
.lianxi ul {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.lianxi ul li{
    width: 7.75rem;
    height:1.225rem;
    background: #fff;
    margin-top: 0.025rem;
    border-radius: 0.15rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.225rem;
}

.lianxi ul li.first{
    height: 0.525rem;
    font-size: 0.2rem;
    line-height: 0.525rem;
    border-radius: 0.15rem 0.15rem 0 0;
}
/*联系结束*/


/*热线开始*/
.rexian{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    display: none;
}
.rexian .xian{
    border:1px solid #dcdcdc;
        width:6.35rem;
    height: 3rem;
    background: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -3.175rem;
    transform: translateY(-50%);

}
.rexian h3{
    text-align: center;
    font-size:0.45rem;
    color: #000;
    line-height: 1.8rem;
    font-weight: normal;

}
.rexian .boda{
    line-height: 1.1rem;
    height: 1.1rem;  
    border-top: 1px solid #dcdcdc;
    padding-top: 0.04rem;
}
.rexian .boda div{
    width: 3.12rem;
    float: left;
    font-size: 0.4rem;
    text-align: center;
    color: #4a90e2;
}
/*热线结束*/