/*页头开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
body{
    background: #fff;
    padding-bottom: 0;

}
/*页头结束*/


/*login开始*/
  .login{
    margin-top: 1.51rem;
  }
  .login h1{
    width: 3.775rem;
    height: 3.325rem;
    margin:0 auto;
    background: url(../images/icon/login.png)no-repeat 0 0;
    background-size: cover;
  }
.login form{
    width: 7.1rem;
    height: 4.9rem;
    margin:0 auto;
}
.login form div{

    height: 1rem;
    position: relative;
    width: 7.1rem;
    border-bottom: 1px solid #F9F9F9;
    margin-top: 0.2rem;
}
.login form label{
    font-size: 0.3rem;
    line-height: 1rem;
    display: inline-block;
    color: #9ec317;
    margin-left: 0.7rem;
    width: 1rem;
    float: left;
}
.login form input{
    width: 5rem;
    height: 0.95rem;
    outline: none;
    font-size: 0.3rem;
    float: left;


}
.login form i.one{
    width: 0.55rem;
    height: 0.55rem;
    display:inline-block;
    background: url(../images/icon/login2.png)no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top:0.15rem;
    left:0;
}
.login form i.two{
    width: 0.55rem;
    height: 0.55rem;
    display:inline-block;
    background: url(../images/icon/suo.png)no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top:0.15rem;
    left:0;
}
.login form b.s{
    width: 0.55rem;
    height: 0.55rem;
    display:inline-block;
    background: url(../images/icon/biyan.png)no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top:0.2rem;
    right:0.3rem;
}
.hasclass{
    background: url(../images/icon/zhenyan.png)no-repeat 0 0;
     width: 0.55rem;
    height: 0.55rem;
    display:inline-block;
    background-size: cover;
    position: absolute;
    top:0.2rem;
    right:0.3rem;
}
.login form button{
    width: 6.5rem;
    height: 1rem;
    background: #9ec317;
    margin-left:0.35rem;
    color: #fff;
    font-size: 0.4rem;
    border-radius: 0.1rem;
    margin-top: 0.4rem;
}
.login form  .zhuce{
    font-size: 0.3rem;
    color: #808080;
    border-bottom: 0;
    margin-left: 0.4rem;
    width: 6.3rem;
    line-height: 0.6rem;

}
/*login结束*/