/*顶部开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background: #fff;
}

body{
    position: relative;
}
/*banner开始*/
.banners{
    width: 8rem;
    height: 4.25rem;
    margin-top: 1.1rem;
    position: relative;
}
.banners img{
    width: 8rem;
    height: 4.25rem;
}
.banners .jukaishi{
    height: 0.65rem;
    position: absolute;
    left: 0;
    bottom:0;
    background: #F9F9F9;
    width: 8rem;
}
.banners .jukaishi .left{
    width: 2.55rem;
    height: 0.65rem;
    background: url(../images/icon/jukaishi.png)no-repeat 0 0;
    background-size: cover;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    float: left;
    line-height: 0.65rem;
}
.banners .jukaishi .right{
    float: right;
    height: 0.65rem;
    width: 5rem;


}
.banners .jukaishi .right p{
        font-size:0.3rem;
    text-align: center;
    font-weight: normal;
    line-height: 0.65rem;
    font-weight: 600;

}
/*banner结束*/


/*详情资料开始*/
.ziliao{
    padding:0 0.3rem;
    padding-right: 0.1rem;
    width: 7.6rem;
    background: #fff;
    padding-top: 0.25rem;
    margin-bottom: 0.175rem;
}
.ziliao h3{
    font-size: 0.35rem;
    font-weight: normal;
}
.ziliao .jia{
    margin-top: 0.475rem;
    overflow: hidden;
}
.ziliao .jiage{
    font-size: 0.4rem;
    float: left;
}
.ziliao .jiage b{
    color: #ed2d08;
    line-height: 0.625rem; 
}
.ziliao .jia a{
    height: 0.65rem;
    width: 2rem;
    display: inline-block;
    border-radius: 0.15rem;
    background: #5bacf3;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.65rem;
    float: right;
}
.ziliao .xiaoliang{
    overflow: hidden;
    margin-top: 0.325rem;
    height: 0.65rem;
    line-height: 0.65rem;
    border-bottom: 1px solid #e6e6e6;
}
.ziliao .xiaoliang li{
     width: 33.3333%;
    float: left;
    font-size: 0.3rem;
}
.ziliao .pingjia{
    overflow: hidden;
}
.ziliao .pingjia li{
    float: left;
    font-size: 0.2rem;
    text-align: left;
     width: 50%;
     margin:0.2rem 0;
     color: #808080;
}
.ziliao .pingjia li b{
    color: #333;
}
/*详情资料结束*/


/*服务开始*/
.fuwu{
    margin-top: 0.125rem;
    background: #fff;
    width: 8rem;
}
.fuwu .fuwuone{
    overflow: hidden;
}
.fuwu .fuwuone li{
    float: left;
    width: 25%;
    font-size: 0.3rem;
    text-align: center;
    height: 0.625rem;
    line-height: 0.635rem;
    border-bottom:1px solid  #e6e6e6;
    color: #9c9c9c;
}
.fuwu .fuwuone li.cu{
    color: #ed2d08;
    border-bottom: 1px solid #ed2d08;
}
.fuwu .fuwutwo{
}
.fuwu .fuwutwo li{
    display: none;
    padding: 0.6rem 0;
       padding-left: 0.3rem;
    padding-right: 0.2rem;


}
.fuwu .fuwutwo li p{
    font-size: 0.3rem;
    color: #9c9c9c;
    
    line-height: 0.625rem;
}


.fuwu .fuwutwo li .all{
    height: 3rem;
    border-bottom: 1px solid #dcdcdc;
}
.fuwu .fuwutwo li .all .top{
    padding-top: 0.4rem;
    overflow: hidden;
}
.fuwu .fuwutwo li .all .top img{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    float: left;
    margin-right: 0.2rem;
}
.fuwu .fuwutwo li .all .top .yonghu{
    float: left;
    height: 0.4rem;

}
.fuwu .fuwutwo li .all .top h3{
    font-size: 0.3rem;
    font-weight: normal;
}
.fuwu .fuwutwo li .all .top p.shi{
    font-size: 0.2rem;
    font-weight: normal;
    line-height: 0.3rem;
}
.fuwu .fuwutwo li .all i{
    width: 1.325rem;
    height: 0.225rem;
    display: inline-block;
    background: url(../images/icon/ping.png)no-repeat 0 0;
    background-size: cover;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}
.fuwu .fuwutwo li .all .tiao{
    font-size: 0.3rem;
    margin-top: 0.25rem;
    color: #000;
    margin-left: 0.3rem;
}
.fuwu .fuwutwo li .all .xunzhang{
    font-size: 0.2rem;
    color: #262626;
    margin-left: 0.3rem;
    margin-top: 0.2rem;

}








/*服务结束*/





/*底部开始*/
/*底部开始*/
.foot{
    height: 1.1rem;
    background: #fff;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 8rem;
    border-top: 1px solid #d8d8d8;
}
.foot .tixing{
    width: 0.9rem;
    float: left;
    font-size: .3rem;
    border-left: 1px solid #ccc;
    padding-left: 0.8rem;
    line-height: 1.1rem;
    position: relative;
}
.foot .tixing i{
   background: url(../images/icon/tixing.png)no-repeat 0 0;
    width: 0.45rem;
    height: 0.45rem;
    display:inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0.27rem;
    background-size: cover;

}
.foot .guanzhu{
    width: 0.7rem;
    float: left;
    font-size: .3rem;
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    line-height: 1.1rem;
    position: relative;

}

     .foot .guanzhu i .heart {
        background: url(../images/web_heart_animation.png);
        background-position: left;
        background-repeat: no-repeat;
        height: 1.45rem;
        width:3.75em;
        cursor: pointer;
        position: absolute;
        left:-0.2rem;
        top:-0.13rem;
    background-size: cover;

    }


     .foot .guanzhu i .hearts {
        background: url(../images/web_heart_animation.png) 0 0;
        background-position: right;
        background-repeat: no-repeat;
        height: 1.75rem;
        width:5.75em;
        cursor: pointer;
        position: absolute;
        left:-.3rem;
        top:-0.25rem;
    background-size: cover;

    }

    @-webkit-keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
    }

    @keyframes heartBlast {
        0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
    }

    .heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }
    p{margin: 0px; padding: 0px;}
    
    .foot .goumai{
    width: 4.5rem;
    height: 1.1rem;
    font-size: 0.4rem;
    background: #9ec317;
    float: right;
    text-align: center;
    line-height: 1.1rem;
    color: #fff

}
/*联系结束*/

/*联系开始*/
.lianxi{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    display: none;
}
.lianxi ul {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.lianxi ul li{
    width: 7.75rem;
    height:1.225rem;
    background: #fff;
    margin-top: 0.025rem;
    border-radius: 0.15rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.225rem;
}

.lianxi ul li.first{
    height: 0.525rem;
    font-size: 0.2rem;
    line-height: 0.525rem;
    border-radius: 0.15rem 0.15rem 0 0;
}
/*联系结束*/