/*页头开始*/
body{
    background: #fff;
}
div.head{
    width: 8rem;
    height: 1.1rem;
    background: #9ec317;
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
div.head .left{
    float: left;
    height: 0.5rem;
    width: 0.7rem;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-left: 0.28rem;
    position: relative;
    padding-left: 0.5rem;
    line-height: 0.5rem;
    margin-right: 0.2rem;
    color: #fff;
    font-size: 0.35rem;
}
div.head .left i{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: url(../images/icon/baise.png)no-repeat 0 0;
    position: absolute;
    top:0;
    left: 0;
    background-size:cover;
}
div.head  input{
    float: left;
    margin-top: 0.22rem;
    width: 5.3rem;
    height: 0.6rem;
    border: 1px solid #Ccc;
    padding-left: 0.1rem;
    font-size: 0.3rem;
    /*line-height: 0.6rem;*/

    border-radius: 0.125rem;
}
input {-webkit-appearance:none; /*去除input默认样式*/}


/*页头结束*/


/*搜索开始*/
.seach{
margin-top: 1.1rem;
}
.seach .seachone{
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
    background: #f9f9f9;
}
.seach .seachone li{
    float: left;
    font-size: 0.3rem;
    width: 33.3333%;
    line-height: 0.8rem;
    height: 0.8rem;
    text-align: center;
}
.seach .seachone li.cu{
    color: #ff7600;
    border-bottom: 2px solid #ff7600;
}
.seach .seachtwo{
    padding-left: 0.45rem;
    padding-right: 0.25rem;
}
.seach .seachtwo li{
    display: none;
}
.seach .seachtwo h3{
    margin-top: 0.5rem;

    font-weight: normal;
    font-size: 0.3rem;
}
.seach .seachtwo .hot{
    font-size: 0.3rem;
    width: 1.9rem;
    height: 0.575rem;
    border-radius: 0.15rem;
  border: solid 1px #e2e2e2;
  float: left;
  text-align: center;
  line-height: 0.575rem;
  margin-right: 0.48rem;
  color: #262626;
  margin-top: 0.36rem;
}
.seach .seachtwo .jilu{
    margin-top: 0.3rem;
}
.seach .seachtwo .jilu .lu{
    font-size: 0.3rem;
    color: #262626;
    border-bottom: 1px solid #e6e6e6;
    line-height: 0.75rem;
}
.seach .seachtwo .qingkong{
    width: 2.45rem;
    height: 0.575rem;
    font-size: 0.3rem;
    border-radius: 0.15rem;
    border: solid 1px #e2e2e2;
    text-align: center;
    margin:0 auto;
    margin-top: 0.6rem;
    line-height: 0.575rem;
}
/*搜索结束*/