/*尾款支付开始*/
.weikuan{
    width: 8rem;
    margin-top: 1.1rem;
}
.weikuan .zhifu{
    overflow: hidden;
    background: #f9f9f9;
    border-bottom: 1px solid #dcdcdc;

}
.weikuan .zhifu li{
    float: left;
    width: 33.3333%;
    font-size: 0.3rem;
    color: #262626;
    text-align: center;
    line-height: 0.8rem;
}
.weikuan .zhifu li.cu{
    border-bottom: 2px solid #ff7600;
    color: #ff7600;
}
.weikuan .contant .fangshi{
    margin-top: 0.2rem;
     margin-top: 0.2rem;
    border-top: 1px solid #dcdcdc;
    padding-bottom: 0.5rem;
  
}
.weikuan .contant h4{
    font-size: 0.3rem;
    padding: 0 0.45rem;
    background: #fff;
     line-height: 1rem;



}
.weikuan .contant .kuai{
    background: #fff;
    padding: 0 0.45rem;
    padding-bottom: 0.5rem;
         border-bottom: 1px solid #dcdcdc;




}
.weikuan .contant .kuaisu{
    padding-top: 0.2rem;
    overflow: hidden;


}
.weikuan .contant .kuaisu .fu{
    width: 3.45rem;
    height: 1rem;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 0.15rem;
    float: left;
    color: #808080;
    background:#fff;
    border:1px solid #ccc;
}
.weikuan .contant .kuaisu .zhi{
    float: right;
}
.weikuan .contant .kuaisu .cur{
    color: #fff;
    background: #9ec317;
}

.weikuan .contant li .jinggao{
    color: #808080;
    font-size: 0.3rem;
    margin-top: 0.4rem;
    text-indent: -0.9rem;
    margin-left: 1rem;
    line-height: 0.45rem;
    display: none;
}
.weikuan .contant li{
    display: none;
}
.weikuan .contant .que{
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}
.weikuan .contant .que h3{
    font-size: 0.3rem;
    color: #808080;
    line-height: 0.9rem;
}
.weikuan .contant .que .inque{
    margin-left: 0.45rem;
    margin-top: 0.25rem;
}
/*a  upload */
.a-upload {
    padding: 4px 10px;
    position: relative;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 1rem;
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 0.575rem;
    

}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    line-height:1rem;
}
.a-upload  i{
    width: 1.3rem;
    height: 1.3rem;
    display:inline-block;
    text-align: center;
    background: url(../images/icon/shexiang.png)no-repeat 0 0;
    background-size: cover;
}
.a-upload  p{
    font-size: 0.3rem;
    color: #808080;
    text-align: center;
    margin-top: -0.3rem;
}
.weikuan .contant .yishangchuan{
    padding-bottom: 0.5rem;
    background: #fff;
        padding-left: 0.45rem;
    padding-top: 0.25rem;
       margin-top: 0.4rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.weikuan .contant .yishangchuan h3{
    font-size: 0.3rem;
    color: #808080;
    margin-bottom: 0.2rem;
}
.weikuan .contant .zhaopian{

}
.weikuan .contant .inzhaopian{
    overflow: hidden;
    padding-left: 0.9rem;
    }
.weikuan .contant .inzhaopian div.one{
        float: left;
        width: 3.5rem;
        font-size: 0.3rem;
        color: #808080;
        line-height: 0.625rem;
    }
.weikuan .contant .inzhaopian div.right{
        float: right;
        width: 1.8rem;
        margin-right: 0.825rem;
        font-size: 0.3rem;
        color: #808080;
        line-height: 0.625rem;

    }
.inzhaopian div.right span{
    float: left;
}
.inzhaopian div.right i{
    color: #ed2d08;
    float:right;
}
/*尾款支付结束*/


/*支付密码开始*/
.mima{
    margin-top: 0.35rem;
    background: #fff;
    padding:0  0.425rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    overflow: hidden;
       border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}
.mima h3{
    font-size: 0.3rem;
    line-height: 0.6rem;
    color: #808080;
}
/*支付密码结束*/





.weikuan .pinglun{
    
    font-size: 0.3rem;
}
.weikuan .pinglun div{
   height: 1rem;
    overflow: hidden;
    background: #fff;
      border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    margin-top: 0.3rem;
}
.weikuan .pinglun p{
    float: left;
    margin-left: 0.5rem;
    line-height: 1rem;
    color: #a9a9a9;
}
.weikuan .pinglun i{
    float: right;
    margin-right: 0.5rem;
    width:2.225rem;
    height: 0.375rem;
    background: url(../images/icon/xingxing.png)no-repeat 0 0;
    line-height: 1rem;
    display: inline-block;
    background-size: cover;
    margin-top: 0.3rem;
}
.weikuan .pinglun .shuru{
    margin-top: 1.125rem;
}
.weikuan .pinglun .shuru input{
    width: 7.5rem;
    height: 1rem;
    outline: none;
    padding-left: 0.5rem;
    font-size: 0.3rem;
}

