/*页头开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
body{
    background: #f2f2f2;

}
/*页头结束*/





/*拍卖开始*/
.paimai{
    margin-top: 1.13rem;
}
.paimai .pai{
    height: 0.8rem;
    border-bottom: 1px solid #dcdcdc;
}

.paimai .pai li{
    float: left;
    width: 50%;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.8rem;
    position: relative;
    color: #262626;

}
.paimai .pai li.cur{
    color: #ff7600;
    border-bottom:2px solid #ff7600;
}

.paimai .pai li i{
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    background: red;
    position: absolute;
    top:0.25rem;
    left:.45rem;
}

.paimai .mai img{
    width: 3.8rem;
    height: 3.175rem;
}
.paimai .mai{
    position: relative;
    margin-top: 0.03rem;
}
.paimai .mai li{
    position: relative;
    top:0;
    left:0;
    display: none;
}
.paimai .mai .left{
    width: 3.8rem;
    height: 3.175rem;
    float: left;
    position: relative;
}
.paimai .mai .left .start{
    width: 1.675rem;
    height: 0.425rem;
    line-height:0.425rem; 
    background: #5bacf3;
    position: absolute;
    top:2.5rem;
    left: 0;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    border-radius: 0 0.07rem 0.07rem 0;
}
.paimai .mai .all{
    overflow: hidden;
        background: #fff;
    margin-bottom: 0.25rem;
}
.paimai .mai .jijiang .start{
    background: #9EC317;
}
.paimai .mai .right{
    float: right;
    width: 4rem;
    padding: 0.1rem;
    height:2.975rem;

}
.paimai .mai .right h3{
    font-size: 0.3rem;
    font-weight: normal;
    color: #565656;
    line-height: 0.5rem;
    height: 0.9rem;
    overflow: hidden;
}
.paimai .mai .right .dangqian{
    font-size: 0.315rem;
    line-height: 0.95rem;
    color: #6f6f6f;

}
.paimai .mai .right .dangqian strong{
    color: #ed2d08;
    font-weight: 600;
    font-size: 0.375rem;
}
.paimai .mai .right .jieshu{
    font-size: 0.315rem;
    color: #6f6f6f;
    margin-bottom: 0.3rem;
    overflow: hidden;
    height: 0.425rem;

}
.paimai .mai .right .jieshu strong{
    color: #000;
    font-weight: 600;
    font-size: 0.325rem;
}
.paimai .mai .right .renshu{
    font-size: 0.2rem;
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 0.575rem;
    line-height: 0.575rem;


}
.paimai .mai .right .renshu div{
    float: left;
    margin-right: 0.5rem;
    height: 0.575rem;
    line-height: 0.575rem;
}
.paimai .mai .right .renshu div i{
    font-weight: 600;
}
.paimai .dianpu{
    padding: 0.25rem;
    padding-right: 0;
    overflow: hidden;
    padding-top: 0;
}
.paimai .dianpu .dian{
    width: 3.65rem;
    height: 1.3rem;
    border:1px solid #dcdcdc;
    background: #fff;
    float: left;
    margin-right: 0.15rem;
    margin-top: 0.25rem;
}
.paimai .mai .dianpu .dian img{
    float: left;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.1rem;
}

.paimai .dianpu .dian h3{
    font-size: 0.3rem;
    color: #333;
}
.paimai .dianpu .dian p{
    font-size: 0.2rem;
    color: #666;
}





.paimai .mai .alltwo{
    border-top: 1px solid #e6e6e6;
    height: 3.175rem;
    background: #fff;
    overflow: hidden;
    margin-bottom: 0.25rem;
}
.paimai .mai .alltwo .left{
    float: left;
    width: 3.9rem;
    height: 3.175rem;
}
.paimai .mai .alltwo .left img{
    float: left;
    width: 3.9rem;
    height: 3.175rem;
}
.paimai .mai .alltwo .right{
    float: right;
    width: 3.8rem;
    position: relative;
    height: 3.175rem;

}
.paimai .mai .alltwo .right h4{
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.75rem;
}
.paimai .mai .alltwo .right p{
    font-size: 0.2rem;
}
.paimai .mai .alltwo .right .jia{
    font-size: 0.2rem;
    line-height:0.6rem;
    margin-top: 0.2rem;

}

.paimai .mai .alltwo .right .dangqian{
    font-size: 0.315rem;
    line-height: 0.6rem;
    color: #333;
    margin-top: 0.2rem;

}
.paimai .mai .alltwo .right .dangqian strong{
    color: #ed2d08;
    font-weight: 600;
    font-size: 0.3rem;
}
.paimai .mai .alltwo .right .jia b{
    color: #ed2d08;
    font-size: 0.2rem
}
.paimai .mai .alltwo .right  .chengjiao{
    position: absolute;
    bottom:0.1rem;
    left:0rem;
    height: 0.55rem;
}
.paimai .mai .alltwo .right  .chengjiao .jinxing{
    float: right;
    margin-right:-2.2rem;
    width: 1.875rem;
    height: 0.55rem;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.55rem;
    text-align: center;
    background-color: #26a96d;
    border-radius: 0.05rem;
    margin-top: -0.2rem;
}
.paimai .mai .alltwo .right  .chengjiao .cheng{
    font-size: 0.2rem;
    float: left;
    color: #373737;
}
/*拍卖结束*/