html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
body{
    padding-bottom: 1.25rem;
    background: #f2f2f2;
}


/*联系开始*/
.lianxi{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    display: none;
}
.lianxi ul {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.lianxi ul li{
    width: 7.75rem;
    height:1.225rem;
    background: #fff;
    margin-top: 0.025rem;
    border-radius: 0.15rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.225rem;
}

.lianxi ul li.first{
    height: 0.525rem;
    font-size: 0.2rem;
    line-height: 0.525rem;
    border-radius: 0.15rem 0.15rem 0 0;
}
/*联系结束*/
/*页头开始*/
div.head{
    width: 8rem;
    height: 1.1rem;
    background: #9ec317;
    position: fixed;
    top:0;
        left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
div.head .left{
    float: left;
    height: 0.5rem;
    width: 0.7rem;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-left: 0.28rem;
    position: relative;
    padding-left: 0.5rem;
    line-height: 0.5rem;
    margin-right: 0.2rem;
    color: #fff;
    font-size: 0.35rem;
}
div.head .left i{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: url(../images/icon/dizhi.png)no-repeat 0 0;
    position: absolute;
    top:0;
    left: 0;
    background-size:cover;
}
div.head .text{
    float: left;
    margin-top: 0.22rem;
    width: 5.3rem;
    height: 0.6rem;
    border: 1px solid #Ccc;
    padding-left: 0.1rem;
    font-size: 0.3rem;
    line-height: 0.6rem;
    border-radius: 0.125rem;
    -webkit-appearance:none;
    background: #fff;
    color: #666;
}
div.head .kefu{
    float: right;
    margin-right: 0.2rem;
    height: 1.1rem;
    position: relative;
    width: 0.5rem;

}
div.head .kefu .inkefu{
    width: 0.55rem;
    height: 0.55rem;
    display: inline-block;
    background: url(../images/icon/kefu.png)no-repeat 0 0rem;
    background-size:cover;
    position: absolute;
    top:0.3rem;
    left:0;
}
/*页头结束*/


/*我的头像开始*/
.touxiang{
margin-top: 1.12rem;
height: 3rem;
padding-top: 0.25rem;
border-bottom: 1px solid #dcdcdc;
position: relative;
background: #fff;
}
.touxiang img{
    width: 1.85rem;
    height: 1.85rem;
    display: block;
    margin:0 auto;
}
.touxiang h3{
    font-size: 0.4rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0.2rem;
}
.touxiang p{
    font-size: 0.3rem;
    text-align: center;
    color: #a9a9a9;
}
.touxiang i{
    width: 0.55rem;
    height: 0.55rem;
    background: url(../images/icon/shezhi.png)no-repeat 0 0;
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:0.5rem;
    background-size: cover;
}
/*我的头像结束*/


/*我的开始*/
.wode{

}
.wode .me{
    height: 1rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
    margin-top: 0.25rem;
}
.wode .me a{
    color: #262626;
    overflow: hidden;
}
.wode .me .left{
    float: left;
    width: 40%;
    padding-left: 1.3rem;
    position: relative;
    line-height: 1rem;
    height: 1rem;
}
.wode .me .left b{
    float: left;
    position: absolute;
    top:0.3rem;
    left: 0.6rem;
    width: 0.425rem;
    height: 0.425rem;
    display: inline-block;
}
.wode .me .left b img{
    width: 0.425rem;
    height: 0.425rem;
    display: block;


}
.wode .me .left p{
    font-size: 0.3rem;
}
.wode .me .right{
    float: right;
    width: 35%;
    text-align: right;
    padding-right: 0.7rem;
    position: relative;
    line-height: 1rem;
    height: 1rem;

}
.wode .me .right p{
    font-size: 0.2rem;
}
.wode .me .right i{
    width: 0.375rem;
    height: .375rem;
    background: url(../images/icon/next.png)no-repeat 0 0;
    display: inline-block;
    background-size: cover;
    float: right;
    position: absolute;
    top:0.32rem;
    right: 0.2rem;
}

.my{
    padding-left: 1rem;
    background: #fff;
    border-top: 1px solid #dcdcdc;
    margin-top: 0.25rem;
    border-bottom: 1px solid #dcdcdc;
}
.mine{
    border-top: 0;
}
.mine .me{
    border-bottom: 1px solid #f9f9f9;
    margin-top: 0;
    border-top: 0;
}
.mine .me .left{
    padding-left: 0.3rem;
}
.mine .me .left b{
    left:-.4rem;
}
/*我的结束*/


/*拍卖开始*/
.footer{
    height: 1.1rem;
    font-size: 0.3rem;
    text-align: center;
    border-top: 1px solid #Ccc;
    position: fixed;
    left:50%;
    bottom: 0;
    z-index: 10;
    width: 8rem;
    background: #fff;
    transform: translateX(-50%);
}
.footer li{
    width: 25%;
    float: left;
    line-height: 0.4rem;
}
.footer i{
    display: block;
    margin-top: 0.1rem;
}
.footer img{
    width: 0.65rem;
    height: 0.55rem;
    display: block;
    margin:0 auto
}
.footer li.current a{
    color: #9ec318;
}
/*拍卖结束*/



/*a  upload */
.a-upload {
    padding: 4px 10px;
    position: relative;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 1rem;
    

}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    line-height:1rem;
}

