/*支付信息开始*/

.shibai{
    height: 1.05rem;
    background: #cdcdcd;
    padding-left: 0.375rem;
    margin-top: 1.13rem;

}
.shibai p{
    color: #fff;
    font-size: 0.2rem;
    text-indent: 0.3rem;
    line-height: 0.5rem;


}


/*支付信息结束*/



/*我的银行卡开始*/
.bangding{
    margin-top: 0.5rem;
}
.bangding div{
    margin-top: 0.25rem;
    width: 8rem;
    height: 1rem;
    background: #fff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

}
.bangding div label{
    width: 1.2rem;
    display: inline-block;
    font-size: 0.3rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    float: left;
    color: #a9a9a9;
}
.bangding div input{
float: left;
width: 5.6rem;
height: 1rem;
line-height: 1rem;
outline: none;
font-size: 0.3rem;
color: #000;
}





/*a  upload */
.a-upload {
    padding: 4px 10px;
    position: relative;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    overflow: hidden;
    *display: inline-block;
    *zoom: 1;
    line-height: 1rem;
      
}
.a-upload i{
      background: url(../images/icon/paizhao.png)no-repeat 0 0.05rem;
    background-size: cover;
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    float: right;
}
.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    line-height:1rem;

}

/*我的银行卡结束*/