/*设置开始*/
.shezhi{
    margin-top: 1.12rem;
    padding-top: 0.325rem;

}
.shezhi .touxiang{
    height: 1.35rem;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    padding-left: 0.5rem;
}
.shezhi .touxiang a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.shezhi .touxiang span{
    float: left;
    font-size: 0.3rem;
    line-height: 1.35rem;
}
.shezhi .touxiang .xiang{
    float: right;
}
.shezhi .touxiang .xiang img{
    width: 1.05rem;
    height: 1.05rem;
    margin-top: 0.15rem;

}
.shezhi .touxiang .xiang i{
        width: 0.7rem;
    height: 0.7rem;
    display:inline-block;
    background: url(../images/icon/yibu.png)no-repeat 0 0;
    background-size: cover;
    float: right;
    margin-top: 0.35rem;
}
.shezhi .ziliao{
    padding-bottom:2rem;
}
.shezhi .ziliao li{
    height: 1rem;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    font-size: 0.3rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    margin-top: 0.055rem;
}
.shezhi .ziliao li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.shezhi .ziliao li span{
    float: left;
}
.shezhi .ziliao li .ming{
    float: right;
}
.shezhi .ziliao li i{
        width: 0.7rem;
    height: 0.7rem;
    display:inline-block;
    background: url(../images/icon/yibu.png)no-repeat 0 0;
    background-size: cover;
    float: right;
    margin-top: 0.15rem;
}
.tuichu{
    position: fixed;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height: 1.25rem;
    background: #9ec317;
    color: #fff;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.35rem;
    color: #fff;
    width: 8rem;
}
/*设置结束*/