/*页头开始*/
html{
    font-size: 40px;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background: #fff;
}
body{
    background: #f2f2f2;
    padding-bottom: 1.25rem;

}


/*必应开始*/
.biying{
    margin-top: 1.11rem;
}
.biying li{
    padding: 0.225rem;
    padding-bottom: 0;
background: #fff;
    margin-bottom: 0.3rem;
}
.biying li .ying{
    padding-bottom: 0.25rem;
    overflow: hidden;

    
}
.biying li .left{
    float: left;
}
.biying li .left img{
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 0.3rem;
}
.biying li .all {
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.biying li .left .ming{
    float: left;
    padding-top: 0.1rem;
}
.biying li .left h3{
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.4rem;

}
.biying li .left p{
    font-size: 0.2rem;
}
.biying li .all .huiying{
    width: 1.6rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    float: right;
    background: #ed2d08;
    border-radius: 0.05rem;
    margin-top: 0.35rem;
}
.biying li .contant{
    overflow: hidden;
    line-height: 0.75rem;
}
.biying li .contant span{
    float: left;
    color: #555;
    font-size: 0.3rem;
}
.biying li .contant p{
    float: right;
    font-size: 0.3rem;
    color: #222;
}
.biying li .contant b{
    float: right;
    font-size: 0.3rem;
    color: #ed2d08;
}

.biying li .lianjie  a{
    font-size: 0.3rem;
    height: 0.6rem;
    display:block;
   border:1px solid #9ec317; 
    border-radius: 0.15rem;
    color: #9ec317;
    text-align: center;
   margin:0 auto;
    line-height: 0.6rem;
    width: 1.85rem;
    margin-top: 0.7rem;


}
/*必应结束*/


.fabu{
    width: 8rem;
    height: 1.25rem;
    background: #9ec317;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.25rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}







