.yws-banner {
  height: 120px;
  background-color: red;
}
.yws-banner .w {
  background-color: red;
  height: 120px;
}
/*内容部分 start*/
.yws-content {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
.yws-content .w {
  padding: 20px 100px;
}
.yws-content .w h3 {
  font: normal 400 22px/50px "Microsoft Yahei";
  text-align: center;
}
.yws-content .w h6 {
  font: normal 400 18px/30px "Microsoft Yahei";
  text-align: center;
}
.yws-content .w p {
  font: normal 400 16px/40px "Microsoft Yahei";
}
/*内容部分 end*/
/*.footer{
  background-color: #eee;
  .w{
    background-color: #eee;
  }
}*/
