/*banner start*/
.yws-banner {
  margin-top: 5px;
}
.yws-banner .w > a .banner {
  height: 100px;
  background-color: red;
}
.yws-banner .w p {
  font: 400 16px/50px "Microsoft Yahei";
  margin-left: 10px;
}
/*banner end*/
/*content start*/
.con {
  margin: 40px 0 ;
}
.con .w .con-l {
  position: relative;
}
.con .w .con-l h3 {
  text-align: center;
  font: normal 400 16px/40px "Microsoft Yahei";
}
.con .w .con-l > p {
  text-align: center;
  font: normal 400 12px/30px "Microsoft Yahei";
  color: #aaa;
}
.con .w .con-l .con-l-box {
  width: 870px;
  height: 850px;
  border: 1px solid #ccc;
  padding: 40px 30px;
}
.con .w .con-l .con-l-box p {
  font: normal 400 15px/36px "Microsoft Yahei";
}
.con .w .con-l .con-l-box .con-l-box-b {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box > div {
  border: 1px solid #fe9900;
  position: absolute;
  bottom: 100px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box > div a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fe9900;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box > div a i {
  font-size: 17px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box > div a del {
  text-decoration: none;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-sc,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z {
  width: 90px;
  height: 30px;
  left: 5%;
  border-radius: 15px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-sc i,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z i {
  position: absolute;
  top: 3px;
  left: 7px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-sc span,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z span {
  float: left;
  padding-right: 5px;
  border-right: 1px solid #fe9900;
  position: absolute;
  top: 3px;
  left: 27px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-sc del,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z del {
  float: left;
  position: absolute;
  top: 4px;
  left: 70px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z {
  left: 25%;
  width: 82px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-z del {
  left: 59px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wb,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx {
  right: 25%;
  border-color: #9c1a1a;
  padding: 1px  10px 2px 28px;
  border-radius: 15px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wb a,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx a {
  color: #9c1a1a;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wb i,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx i {
  position: absolute;
  top: 0;
  left: 6px;
  padding-right: 5px;
  vertical-align: text-bottom;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wb span,
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx span {
  vertical-align: middle;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx {
  border-color: #19750a;
  right: 5%;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx a {
  color: #19750a;
}
.con .w .con-l .con-l-box .con-l-box-b #con-btn-box .con-wx i {
  top: 3px;
  left: 6px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-change {
  margin: 0 30px 50px;
}
.con .w .con-l .con-l-box .con-l-box-b #con-change a span {
  color: #999;
  font: normal 400 14px/20px "Microsoft Yahei";
}
.con .w .con-r {
  width: 310px;
  margin-top: 70px;
}
.con .w .con-r h3 {
  font: normal 400 16px/30px "Microsoft Yahei";
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
}
.con .w .con-r h3::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -8px;
  width: 4px;
  height: 20px;
  background-color: #fc9900;
}
.con .w .con-r h3 span {
  float: right;
  padding: 10px 20px 0 0;
  font: normal 400 14px/12px "Microsoft Yahei";
}
.con .w .con-r .con-r-box {
  background-color: #eee;
  padding: 20px;
}
.con .w .con-r .con-r-box ul li {
  position: relative;
  margin: 5px 0;
  border-bottom: 1px dashed #ccc;
}
.con .w .con-r .con-r-box ul li > span {
  position: absolute;
  top: 7px;
  left: -3px;
  width: 25px;
  height: 25px;
  font: italic 700 22px/23px "Microsoft Yahei";
  text-align: center;
}
.con .w .con-r .con-r-box ul li a > p {
  margin-left: 35px;
  font: normal 400 14px/20px "Microsoft Yahei";
}
.con .w .con-r .con-r-box ul li em {
  margin-left: 56px;
  position: relative;
  left: -1px;
}
.con .w .con-r .con-r-box ul li em i {
  font-size: 17px;
  position: absolute;
  top: -2px;
  left: -20px;
}
.con .w .con-r .con-r-box ul li em del {
  text-decoration: none;
  position: absolute;
  top: -2px;
  right: -22px;
}
.con .w .con-r .con-r-b-banner {
  height: 100px;
  margin-top: 10px;
  background-color: #eee;
}
/*content end*/
/*footer start*/
/*.footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  .w {
    background-color: #eee;
  }
}*/
/*footer end*/
